.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.idea
.vscode
config/
frontend/node_modules
frontend/src
frontend/package*.json
frontend/*.config.js
README.md
.env
